<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.graht.socializing.mapper.GroupChatMemberMapper">

    <resultMap id="BaseResultMap" type="cn.graht.model.socializing.pojos.GroupChatMember">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="groupId" column="groupId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="joinTime" column="joinTime" jdbcType="TIMESTAMP"/>
            <result property="role" column="role" jdbcType="TINYINT"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,groupId,userId,
        joinTime,role,updateTime,
        isDelete
    </sql>
    <select id="selectListByUid" resultType="cn.graht.model.socializing.vos.TempGroupSessionVo">
        select group_chat_session.id,
               group_chat_session.name,
               group_chat_session.lastMessageTime,
               group_chat_session.avatarUrl,
               group_chat_message.content lastMessageContent,
               group_chat_message.senderId senderId
        from group_chat_session
                 left join group_chat_message on group_chat_message.sendTime = group_chat_session.lastMessageTime
            and group_chat_message.isDelete = 0
            and group_chat_message.groupId = group_chat_session.id
        where group_chat_session.id in
              (select groupId
               from group_chat_member
               where userId = #{userId} and group_chat_member.isDelete = 0)
          and group_chat_session.isDelete = 0;
    </select>
</mapper>
