<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.graht.socializing.mapper.GroupChatMemberMapper">

    <resultMap id="BaseResultMap" type="cn.graht.model.socializing.pojos.GroupChatMember">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="groupId" column="groupId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="joinTime" column="joinTime" jdbcType="TIMESTAMP"/>
            <result property="role" column="role" jdbcType="TINYINT"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,groupId,userId,
        joinTime,role,updateTime,
        isDelete
    </sql>
</mapper>
