<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.graht.socializing.mapper.PrivateChatSessionMapper">

    <resultMap id="BaseResultMap" type="cn.graht.model.socializing.pojos.PrivateChatSession">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId1" column="userId1" jdbcType="VARCHAR"/>
            <result property="userId2" column="userId2" jdbcType="VARCHAR"/>
            <result property="lastMessageTime" column="lastMessageTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId1,userId2,
        lastMessageTime,createTime,updateTime,
        isDelete
    </sql>
    <select id="selectListByUserId" resultType="cn.graht.model.socializing.vos.TempPrivateSessionVo">
        select a.id,
               a.lastMessageTime,
               b.content  lastMessageContent,
               CASE
                   WHEN a.userId1 = #{userId} THEN a.userId2
                   ELSE a.userId1
                   END AS uid
        from private_chat_session a
                 left join private_chat_Message b
                           on a.id = b.sessionId
                               and b.isDelete = 0
                               and a.lastMessageTime = b.sendTime
        where a.isDelete = 0
          and (a.userId1 = #{userId}
            or a.userId2 = #{userId})
    </select>
</mapper>
