<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.graht.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.graht.model.user.pojos.User">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatarUrl" jdbcType="VARCHAR"/>
            <result property="addr" column="addr" jdbcType="VARCHAR"/>
            <result property="upAddr" column="upAddr" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="userStatus" column="userStatus" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="userRole" column="userRole" jdbcType="INTEGER"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="profile" column="profile" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,phone,
        addr,upAddr,avatarUrl,
        gender,userPassword,email,
        userStatus,createTime,updateTime,
        isDelete,userRole,tags,
        profile,birthday
    </sql>
</mapper>
